/* set default */
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Sansation';
    background-color: #222222;
}
a{
    text-decoration: none;
}

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #113F67;
    gap: 50%;
    padding: 10px 200px;
}
.logo{
    display: flex;
    flex-direction: column;
}
.logo img{
    height: 60px;
}
.logo span{
    color: aliceblue;
}
header a{
    font-weight: 500;
    color: aliceblue;
    align-self: center;
}
header a:hover{
    font-weight: 500;
    color: rgb(114, 188, 253);
}
.menu{
    display: flex;
    gap: 15px;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 10% auto;
    width: 80%;
    gap: 10px;
}
table{
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    background-color: #333333;
    color: aliceblue;
    text-align: center;
}
.act{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #113F67;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
}
.main{
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.prd{
    display: flex;
    justify-content: center;
}
.produk{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
h2{
    padding-left: 10%;
}
.menu{
    transform: scale(1);
}
.menu:hover{
    transform: scale(1.09);
}
.item{
    border: 2px solid #004ea1;
    border-radius: 5%;
}
.item img{
    border-radius: 4%;
    border-bottom: 2px solid #004ea1;
    width: 200px;
    height: 200px;
}
.item p, .item h3{
    padding-left: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}