/* set default */
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Sansation';
    background-color: #222222;
}
a{
    text-decoration: none;
}

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #113F67;
    gap: 50%;
    padding: 10px 200px;
}
.logo{
    display: flex;
    flex-direction: column;
}
.logo img{
    height: 60px;
}
.logo span{
    color: aliceblue;
}
header a{
    font-weight: 500;
    color: aliceblue;
    align-self: center;
}
header a:hover{
    font-weight: 500;
    color: rgb(114, 188, 253);
}