/* set default */
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Sansation';
}
a{
    text-decoration: none;
}

/* header */
header{
    display: flex;
    justify-content: center;
    background-color: #113F67;
    gap: 40%;
    padding: 10px 200px;
}
header img{
    height: 60px;
}